USE [master]
GO
/****** Object:  Database [dbTimeSheet]    Script Date: 16/04/2021 01:06:38 ******/
CREATE DATABASE [dbTimeSheet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbTimeSheet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbTimeSheet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbTimeSheet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbTimeSheet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbTimeSheet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbTimeSheet]
GO
/****** Object:  Table [dbo].[timeSheet]    Script Date: 16/04/2021 01:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timeSheet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](150) NULL,
	[Date] [date] NULL,
	[Hours] [time](7) NULL,
	[Narration] [nvarchar](500) NULL,
	[Customer] [nvarchar](250) NULL,
	[HorlyRate] [decimal](18, 0) NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_timeSheet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
